/*
    Project style sheet.
    Overriding materializeCSS in certain circumstances.
    Ensuring Lighthouse reported accessibility issues are addressed.

*/
body{
    font-family: Roboto, Arial, sans-serif;
}


.img-icon {
    max-width: 40%;
}

.page-header {
    padding-bottom: 1px;
}

.input-field {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.5rem;
    color:black;
}

/*
    Lighthouse report, accesibility: complains about the lack of contrast
    between form background and label text. [Including button text ]
    ' Background and foreground colors do not have a sufficient contrast ratio. '
*/

.inputlabel {
    font-weight: bold;
    font-size: 1.5rem;
    color:black;
}

.input-field>label {
    font-size: 1.5rem;
    color:black;
}

.buttom {
    font-weight: bold;
}