{% extends 'base.html' %}
{% block headercontent %}
{{ page_title }}
{% endblock %}
{% block content %}

<div class="row">
    <div class="col s12 offset-s2">
        <button class="btn-small crud-btn black-text light-blue lighten-1" 
                onclick="document.location='add_activity'">
            Add Activity
            <i class="material-icons right hide-on-small-only">add</i>
        </button> 
    </div>
</div>

<div class="row">
    <div class="col s12">
        <p id="demo"></p>
        {% for activity in activities %}
        <div class="card">
            <div class="row">
                <div class="col s4 m6">
                    <div class="card-image waves-effect waves-block waves-light">
                        <a target="_blank" href="{{ activity.activity_image }}">
                            {% if loop.index == 1 %}
                                <img class="activator responsive-img" src="{{ activity.activity_image }}"
                                    alt="activity image" width="600">
                            {% else %}
                                <img class="activator responsive-img" src="{{ activity.activity_image }}"
                                    loading="lazy"
                                    alt="activity image" width="600">
                            {% endif %}        
                        </a>
                    </div>
                </div>
                <div class="col s8 m6  card-title">
                    <span> {{ activity.description }} </span>
                    <div class="row flag-interest">
                        <div class="col s8 m6 flag-interest">
                            <a href="{{ url_for('flag_activity', activity_id=activity._id) }}"
                                class="btn-small black-text light-blue lighten-1 flag-interest">
                                Flag Interest
                                <i class="tiny material-icons right hide-on-small-only">flag</i>
                            </a>
                        </div>
                    </div>
                    <div class="row flag-interest">
                        <div class="col s8 m6 flag-interest">
                            <span class="flag-interest">
                                {% for flag in activity.interest %}
                                {% if loop.last %}
                                {{ loop.length }} interested
                                {% endif %}
                                {% endfor %}
                            </span>
                        </div>
                    </div>

                            <div class="card-details hide-on-small-only">
                                What is it about? {{ activity.pitch}} <br>
                                How long? {{ activity.activity_duration }} <br>
                                Where? {{ activity.activity_location }} <br>
                                Led by: {{ activity.lead_firstname }} {{ activity.lead_lastname }}
                            </div> 
 
                </div>

            </div>

            <div class="row show-on-small hide-on-med-and-up">
                <div class="col s12">
                    <div class="card-content">
                            What is it about? {{ activity.pitch}} <br>
                            How long? {{ activity.activity_duration }} <br>
                            Where? {{ activity.activity_location }} <br>
                            Led by: {{ activity.lead_firstname }} {{ activity.lead_lastname }}
                    </div> 
                </div>
            </div>

            <div class="card-content">
                <div class="row">
                    <div class="col s12">
                        <span class="card-date grey-text text-darken-4">
                            Date and time: {{ activity.activity_date.strftime("%A")}}
                            {{ activity.activity_date.strftime("%d")}}
                            {{ activity.activity_date.strftime("%B")}}
                            {{ activity.activity_date.strftime("%Y")}},
                            {{ activity.activity_time}}
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col s4 m6">
                        <a href="{{ url_for('edit_activity', activity_id=activity._id) }}"
                            class="btn-small crud-btn black-text light-blue lighten-1">
                            Edit
                            <i class="material-icons right hide-on-small-only">edit</i>
                        </a>
                    </div>
                    <div class="col s8 m6">
                        <a href="{{ url_for('send_news', activity_id=activity._id) }}"
                            class="btn-small crud-btn black-text light-blue lighten-1 remind-btn">
                            Send News
                            <i class="material-icons right hide-on-small-only">email</i>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <a href="{{ url_for('delete_activity', activity_id=activity._id) }}"
                            class="btn-small crud-btn black-text red darken-1">
                            Drop Activity
                            <i class="material-icons right">delete</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}