{% extends 'base.html' %}
{% block headercontent %}
{{ page_title }}
{% endblock %}
{% block content %}


<div class="row">
	<div class="col-lg-8 col-md-10 mx-auto">
		<!---  Edit Art Work Form -->
		<div id="editartwork">

				<form action="{{ url_for('edit_artwork', art_id=artworks._id ) }}"
                      class="col s12 m8 offset-m2"
					  method="POST">
					<div class="row">
						<div class="input-field col s12">
							<label for="title" class="inputlabel">Title</label>
							<input type="text" class="form-control"
                                        name="title" id="title"
                                        value="{{ artworks.title }}"
                                        minlength="2" required
                                        data-validation-required-message="Please enter the artwork's title."/>
							<p class="help-block text-danger"></p>
						</div>
					</div>
					<!-- Image filepath -->
					<div class="row">
						<div class="input-field col s12">
							<label for="image" class="inputlabel">Image filepath</label>
							<input type="text" class="form-control"
                                        name="image" id="image"
                                        value="{{ artworks.image }}"
                                        minlength="23" required
                                        data-validation-required-message="Image filepath: (e.g.) ../static/img/gallery/no_image.jpg."/>
							<p class="help-block text-danger"></p>
						</div>
					</div>
					<!-- Artist -->
					<div class="row">
						<div class="input-field col s12">
							<label for="artist" class="inputlabel">Artist</label>
							<input type="text" class="form-control"
                                        name="artist" id="artist"
                                        value="{{ artworks.artist }}"
                                        minlength="4" required
                                        data-validation-required-message="Please enter the artist's name."/>
							<p class="help-block text-danger"></p>
						</div>
					</div>
					<!-- Media -->
					<div class="row">
						<div class="input-field col s12">
							<label for="media" class="inputlabel">Media</label>
							<input type="text" class="form-control"
                                        name="media" id="media"
                                        value="{{ artworks.media }}"
                                        minlength="5" required
                                        data-validation-required-message="Please the principal media used."/>
							<p class="help-block text-danger"></p>
						</div>
					</div>
					<!-- Dimensions of artwork in cm. -->
					<div class="row">
						<div class="input-field col s6">
							<label for="height" class="inputlabel">Height</label>
							<input type="number" class="form-control"
                                        name="height" id="height"
                                        value="{{ artworks.height }}"
                                        minlength="5" required
                                        data-validation-required-message="Please enter the artworks height in cm."/>
							<p class="help-block text-danger"></p>
						</div>
						<div class="input-field col s6">
							<label for="width" class="inputlabel">Width</label>
							<input type="number" class="form-control"
                                       name="width" id="width"
                                       value="{{ artworks.width }}"
                                       minlength="5" required
                                       data-validation-required-message="Please enter the artworks Width in cm."/>
							<p class="help-block text-danger"></p>
						</div>
					</div>
					<!--  Price of artwork, whether sold or NFS ? -->
					<div class="row">
						<div class="input-field col s6">
							<label for="price" class="inputlabel">Price</label>
							<input type="text" class="form-control"
                                        name="price" id="price"
                                        value="{{ artworks.price }}"
                                        minlength="3" required
                                    data-validation-required-message="Price, if for sale, or 'NFS'."/>
							<p class="help-block text-danger"></p>
						</div>
						<div class="input-field col s6">
							<p>
								<label class="inputlabel">
                                    <input name="sold" type="radio" value=True />
                                    <span>Sold</span>
                                </label>
							</p>
							<p class="help-block text-danger"></p>
						</div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <strong>Exhibit at the Summer Exhibition?</strong>
                        </div>
                        <div class="input-field col s6">
							<p>
								<label class="inputlabel">
                                    <input name="exhibit" id="exhibit" type="radio" value=True />
                                    <span>Exhibit</span>
                                </label>
							</p>
							<p class="help-block text-danger"></p>
						</div>
                    </div>
					<div class="row">
						<div class="col s6">                     
							<button class="btn-small waves-effect waves-light red lighten-3 black-text text-darken-2"
                                    type="submit">
                                    Edit Artwork
                                    <i class="material-icons right">send</i>
                            </button>
						</div>
						<div class="col s6">
                            <a href="{{ url_for('gallery') }}" class="btn-small blue waves-effect waves-green">
                                Close <i class="material-icons right">close</i>
                            </a>
						</div>
					</div>
				</form>
		</div>
	</div>
</div>

{% endblock %}