{% extends 'base.html' %} {% block headercontent %} {{ page_title }} {% endblock
%} {% block content %}

<div class="row">
  <div class="col l8 m10">
    <div class="row">
    <p class="col s12 m8 offset-m2">Edit membership request.</p>
    </div>

    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('edit_member', member_id=member._id) }}">
      <div class="card-panel">
        <!-- Portrait -->
        <div class="row">
            <div class="col s4">
                <div class="card-image">
                    <img class="materialboxed responsive-img" style="max-width: 75%" src="{{ member.portrait }}" alt="member portrait">
                </div>
            </div>    
        <!-- Portrait path/filename -->
            <div class="input-field col s8">
                <label for="portrait" class="inputlabel active">Portrait Path</label>
                <input type="text" class="form-control"  placeholder="../static/img/portrait/no_image.jpg"
                        name="portrait" id="portrait"
                        value="{{ member.portrait }}" />
                <p class="help-block text-danger"></p>
            </div>
        </div>        
        <!-- Forename -->      
        <div class="row">
            <div class="input-field col s12">
                <label for="forename" class="inputlabel">Forename</label>
                <input type="text" class="form-control"  placeholder="Forename"
                        name="forename" id="forename"
                        value="{{ member.firstname }}"
                        onchange="mem_name('forename')"
                        minlength="4" required
                        data-validation-required-message="Please enter your first name."/>
                <p class="help-block text-danger"></p>
            </div>
        </div>
        <!-- Surname -->    
        <div class="row">
            <div class="input-field col s12">       
                <label for="lastname" class="inputlabel">Lastname</label>
                <input type="text" class="form-control" placeholder="Surname"
                        name="lastname" id="lastname"
                        value="{{ member.lastname }}"
                        onchange="mem_name('lastname')"
                        minlength="4" required
                        data-validation-required-message="Please enter your last name."/>
                <p class="help-block text-danger"></p>
            </div>
        </div>
        <!-- Email Address -->
        <div class="row">
            <div class="input-field col s12">
                <label for="email" class="inputlabel">Email Address</label>
                <input type="email" class="form-control" placeholder="Email Address"
                        name="email" id="email"
                        value="{{ member.email }}"
                        onchange="mem_email()"
                        minlength="10" required
                        data-validation-required-message="Please enter your email address."/>
                <p class="help-block text-danger"></p>
             </div>
        </div>
        <!-- Phone Number -->
        <div class="row">
            <div class="input-field col s12">
                <label for="phone" class="inputlabel">Phone Number</label>
                <input type="tel" class="form-control" placeholder="Phone Number"
                    name="phone" id="phone"
                    value="{{ member.phone }}"
                    onchange="mem_phone()"
                    minlength="5" required
                    data-validation-required-message="Please enter your phone number."/>
            </div>
        </div>
        <!-- Membership Status-->
        <div class="row">
            <div class="input-field col s12">
                <span>New Member?</span>
                <div class="switch">
			        <label class="inputlabel" for="newmember">
                        False
                    {% if member.newmember == true %}
                        <input name="newmember" id="newmember" type="checkbox" value="{{ member.newmember }}" checked />
                    {% else %}    
                        <input name="newmember" id="newmember" type="checkbox" value=False />
                    {% endif %}
                    <span class="lever"></span>
                        True
                    </label>
                </div>
			</div>
        </div>
        <!--  Family Subscription Rate? -->
        <div class="row">
            <div class="input-field col s12">
                <span>Family Subscription?</span>
                <div class="switch">
                    <label class="inputlabel" for="family">
                        False
                    {% if member.family == true %}    
                        <input type="checkbox" name="family" id="family" value="{{ member.family }}" checked />
                    {% else %}
                        <input type="checkbox" name="family" id="family" value=False />
                    {% endif %}   
                        <span class="lever"></span>
                        True
                    </label>
                </div>
            </div>
        </div>

        <!-- Is the Member a guest? If so, no subscription due...-->    
        <div class="row">
            <div class="input-field col s12 ">
                <span>Guest Member?</span>
                <div class="switch">
                    <label class="inputlabel" for="guest">
                        False
                    {% if member.guest == true %}  
                        <input type="checkbox" name="guest" id="guest" value="{{ member.guest }}" checked />
                    {% else %}
                        <input type="checkbox" name="guest" id="guest" value=False />
                    {% endif %}
                        <span class="lever"></span>
                        True
                    </label>
                </div>
            </div>    
        </div>        

        <!--  Member paid subscription this year ? -->
        <div class="row">
            <div class="input-field col s12 "> 
                <span>Subscription Paid?</span>
                <div class="switch">
                    <label class="inputlabel" for="paid">
                        False
                    {% if member.paid == true %}  
                        <input type="checkbox" name="paid" id="paid" value="{{ member.paid }}" checked />
                    {% else %}
                        <input type="checkbox" name="paid" id="paid" value=False />
                    {% endif %}
                        <span class="lever"></span>
                        True
                    </label>
                </div> 
            </div>    
        </div>   

        <!-- Member's biography / introduction -->
        <div class="row">
            <div class="input-field col s12">       
                <label for="bio" class="inputlabel">Biography</label>
                <textarea class="form-control" placeholder="Biography"
                    name="bio" id="bio"
                    value="{{ member.bio }}"
                    rows="4" cols="50"
                    minlength="10" required
                    onchange="mem_bio()"
                    data-validation-required-message="Please enter a brief description of yourself.">
                </textarea>
                <p class="help-block text-danger"></p>
            </div>
        </div>        
        <br />
        <div id="success"></div>
        <div class="row">
            <div class="col s6">
                 <!-- cancel button -->
                    <a href="{{ url_for('members') }}" class="btn-small">
                        Cancel <i class="material-icons right"></i>
                    </a>
            </div>
            <div class="col s6">        
                <button class=" btn-small waves-effect waves-light red"
                    type="submit" name="action" >
                    Edit Member
                    <i class="material-icons right">send</i>
                </button>
            </div>    
        </div>
      </div>  
    </form>
  </div>
</div>

{% endblock %}
