{% extends 'base.html' %} 
{% block headercontent %}
{{ page_title }}
{% endblock %}
{% block content %}


<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
    
        <form class="col s12 m8 offset-m2" method="POST" 
              action="{{ url_for('edit_activity',activity_id=activity._id) }}">
            <div class="card-panel">
                <!-- Activity image -->
                <div class="row">
                    <div class="col s6">
                        <div class="card-image">
                            <img style="max-width: 30%" src="{{ activity.activity_image }}" 
                                 alt="activity image">
                        </div>
                    </div>    
                    <!--image path/filename -->
                    <div class="input-field col s6">
                        <label for="active_img" class="inputlabel active">Image Path</label>
                        <input type="text" class="form-control"  
                            placeholder="../static/img/activities/ecce_closeup.jpg"
                            name="active_img" id="active_img"
                            value="{{ activity.activity_image }}" />
                        <p class="help-block text-danger"></p>
                    </div>
                </div>        
                <!---   Description         -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="prefix light-blue-text text-darken-4"></i>
                    <input id="description" name="description" type="text" 
                        minlength="10" maxlength="255" 
                        placeholder="min 10 chars, max 255 chars"
                        onchange="act_desc()"
                        value="{{ activity.description }}"
                        class="validate" required/>
                    <label for="description" 
                        title="Briefly describe activity">
                        Description
                    </label>
                    <span class="helper-text" data-error="wrong" data-success="right">
                        Briefly describe activity
                    </span> 
                    </div>
                </div>    
                <!--    Activity Date       -->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="activity_date" name="activity_date" type="text" 
                            value="{{ activity.activity_date }}"
                            class="datepicker validate" required/>
                        <label for="activity_date" 
                            title="Pick date activity occurs">
                            Activity Date
                        </label>
                    </div>
                </div>    
                <!---   Activity Time       -->    
                <div class="row">
                    <div class="input-field col s12">
                        <input id="activity_time" name="activity_time" type="time"
                            value="{{ activity.activity_time }}"
                            class="validate" required/>
                        <label for="activity_time" 
                            title="Please use 24 hour clock for start time">
                            Activity Time
                        </label>
                    </div>
                </div>                            
                <!--    Activity Duration   -->
                <div class="row">
                    <div class="input-field col s12">                        
                        <input id="activity_duration" name="activity_duration" type="text"
                            value="{{ activity.activity_duration }}" 
                            onchange="act_dur()"
                            class="validate" required/>
                        <label for="activity_duration" 
                            title="To the nearest half hour">
                            Activity Duration
                        </label> 
                    </div>
                </div>
                <!--    Activity Location   -->
                <div class="row">
                    <div class="input-field col s12">                        
                        <input id="activity_location" name="activity_location" type="text"
                            value="{{ activity.activity_location }}"
                            onchange="act_loc()" 
                            class="validate" required/>
                        <label for="activity_location" 
                            title="Like 'village hall'">
                            Activity Location
                        </label> 
                    </div>
                </div>                                     
                <!--    Activity Leader     -->
                <div class="row">
                    <div class="col s12">
                        Organiser or lead member
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="lead_firstname" name="lead_firstname" type="text" 
                            minlength="2" maxlength="255" 
                            value="{{ activity.lead_firstname }}" 
                            onchange="act_name('lead_firstname')"
                            class="validate" required/>
                        <label for="lead_firstname" 
                            title="Organiser's first name">
                            First name
                        </label>
                    </div>
                    <div class="input-field col s6">
                        <input id="lead_lastname" name="lead_lastname" type="text" 
                            minlength="5" maxlength="255"
                            value="{{ activity.lead_lastname }}"
                            onchange="act_name('lead_lastname')" 
                            class="validate" required/>
                        <label for="lead_lastname" 
                            title="Organiser's last name">
                            Surname
                        </label> 
                    </div>
                </div>
                <!--   Submmit button   -->
                <div class="row">
                    <div class="col s6">
                        <!-- cancel button -->
                        <a href="{{ url_for('activities') }}" class="btn-small">
                        Cancel <i class="material-icons right hide-on-small-only">close</i>
                        </a>
                    </div>
                    <div class="col s6">
                        <!--   Submmit button   -->                 
                        <button type="submit" class="col s6 btn-small red darken-4">
                            Edit Activity
                            <i class="material-icons right hide-on-small-only">send</i>
                        </button>
                    </div>    
                </div>                
            </div>
          </form>  

    </div>
</div>

{% endblock %}