{% extends 'base.html' %} 
{% block headercontent %}
{{ page_title }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col s12">
        {% for exhibit in exhibition %}
            <div class="card" id="exhibitcard">
                <strong>Summer Exhibition {{ exhibit.year }} </strong> <br>
                at {{ exhibit.location }} <br>
                starting {{ exhibit.start_date }}  ending on {{ exhibit.end_date }} 
            </card>
        {% endfor %}    
    </div>
</div>        
<div class="row">
    <div class="col s12">        
            {% for artwork in artworks %}
                <div class="responsive">
                    <div class="gallery">
                        <a target="_blank" href="{{ artwork.image }}">
                            <img src="{{ artwork.image }}" alt="{{ artwork.title }}" class="responsive-img" width="600">
                        </a>
                        <div class="exhibit_details">{{ artwork.artist }}</div>
                    </div>
                </div>    
            {% endfor %}
    </div>
</div>

{% endblock %}