{% extends 'base.html' %}
{% block headercontent %}
{{ page_title }}
{% endblock %}

{% block content %}

<div id="flaginterest" class="flag-content">
    <h4>Flag Interest Form</h4>
    <p>Date: {{ activity.activity_date }}</br>
       Time: {{ activity.activity_time }}</br>
       For:  {{ activity.activity_duration }} </br> 
    {{ activity.description }}</p>
    <br>
            <form action="{{ url_for('flag_activity',activity_id=activity._id) }}" method="POST" >
              <div class="card-panel">
                <div class="row">
                    <div class="col s6">
                        <div class="input-field inline">
                            <input type="text" name="firstname" id="firstname" required />
                            <label for="firstname">First Name</label>
                        </div>
                    </div>
                    <div class="col s6">
                        <div class="input-field inline">
                            <input type="text" name="lastname" id="lastname" required />
                            <label for="lastname">Last Name</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <p>  
                            <span>Club Member?</span>
                            <div class="switch">
                                <label class="inputlabel">
                                False
                                <input type="checkbox" name="member" />
                                <span class="lever"></span>
                                True
                                </label>
                            </div>
                         </p> 
                    </div>
                </div>
                <div class="row">
                    <div class="col s2"></div>
                    <div class="col s8">
                        <p> If not an art club member, please provide email address.</br>
                        <small>This is for notification of cancellations, change in venues, times, etc.</small></p>
                    </div>
                    <div class="col s2"></div>
                </div>
                   
                <div class="row">
                    <div class="col s2"></div>
                    <div class="col s8">                
                        <div class="input-field inline">
                            <input type="email" name="email" id="target" class="validate" />
                            <span class="helper-text" data-error="incorrect format" data-success="correct format"></span>
                            <label for="email">Email address</label> 
                        </div>
                    </div>
                    <div class="col s2"></div>
                </div>  
             </div>                                
				<div class="form-row text-center row">
                    <div class="col s6">
                        <!-- cancel button -->
                        <a href="{{ url_for('activities') }}"
                            class="btn-small blue waves-effect waves-green">
                            Cancel
                            <i class="material-icons right hide-on-small-only">close</i>
                        </a>
                    </div>
				    <div class="col s6">
                        <!--   Submmit button   --> 
					    <button type="submit" class="btn-small red darken-4">
                            Flag Interest 
                            <i class="material-icons right hide-on-small-only">flag</i>
                        </button>
				    </div>
                </div>
            </form>
</div>


{% endblock %}