{% extends 'base.html' %}
{% block headercontent %} 
{{ page_title }} 
{% endblock%} 
{% block content %}

<div class="row card-panel"> 
	<div class="col s12 m10 l8">
		<div class="row">
			<div class="col s12">
                <button class="btn-small crud-btn black-text light-blue lighten-1" 
                     onclick="document.location='add_artwork'">
                    Add Artwork
                    <i class="material-icons right">add</i>
                </button> 
			</div>
        </div>
        <div class="row">
			<div class="col s12">
            <form action="{{ url_for('search_art') }}" method="post">
            <div class="row center-align">
                <div class="input-field col s12">
                    <i class="prefix light-blue-text text-darken-4"></i>
                    <input type="text" name="artquery" id="artquery" minlength="3"
                           class="validate" required>
                    <label for="artquery" title="On artist name or title">Search Art Works</label>
                    <span class="helper-text" data-error="wrong" data-success="right">
                        Search on artist and/or title
                    </span> 
                </div>
            </div>        
            <div class="row centre-align">    
                <div class="col s12">
                    <a href="{{ url_for('gallery') }}" class="red btn-small black-text text-shadow">Reset</a>
                    <button type="submit" class="light-blue darken-1 btn-small black-text text-shadow">
                        <i class="material-icons left hide-on-small-only">search</i> Search
                    </button>
                </div>
            </div>
            </form>
            </div>
        </div>
    </div>
</div>    
   
        <!-- Artwork Gallery -->
<section>
<div class="row card-panel"> 
	<div class="col s12 m10 l8">    
    <h6> Artworks </h6>
        <div class="row">    
            <div class="col s12">		
            <!-- Text search above could have returned no artworks -->
            {% if artworks %}
                {% for artwork in artworks %}
                    <div class="row">
					    <div class="col s12">
        				    <div class="card hoverable">
							    <div class="card-image waves-effect waves-block waves-light">
                                    {% if loop.index == 1 %}
								        <img class="activator responsive-img"
                                            src="{{ artwork['image'] }}"
                                            alt="artwork image" width="600" />
                                    {% else %}
                                        <img class="activator responsive-img"
                                            loading="lazy"
                                            src="{{ artwork['image'] }}"
                                            alt="artwork image" width="600" />
                                    {% endif %}        
                                </div>
						        <div class="card-content card-title">
								    <span class=" activator grey-text text-darken-4">
                                    {{ artwork['title'] }} <br>{{ artwork['artist'] }}
                                    </span>
                                    <ul class="card-details">
                                        <li>Media: {{ artwork['media'] }}</li>
									    <li>Height:{{ artwork['height']}}cm. Width:{{ artwork['width'] }}cm.</li>
                                        <li>Price : {{ artwork['price'] }}</li> 
                                        {% if artwork.sold == true %}
                                            <li style="background-color: red;font-weight: bold;">Sold: {{ artwork['sold'] }}</li>
                                        {% else %}
                                            <li>Sold: {{ artwork['sold'] }}</li>
                                        {% endif %}
                                        {% if artwork.exhibit == true %}
                                            <li style="background-color: lightgreen;font-weight: bold;">Exhibit: {{ artwork['exhibit'] }}</li>
                                        {% else %}
                                            <li>Exhibit: {{ artwork['exhibit'] }}</li>
                                        {% endif %}    
                                        <li>({{ loop.index }} of {{ loop.length }})</li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">                   
                                <ul>
                                    <li>
                                        <a href="{{ url_for('edit_artwork', art_id=artwork['_id']) }}" 
                                                class="btn-small black-text light-blue crud-btn">
                                                Edit this artwork 
                                                <i class="material-icons right hide-on-small-only">edit</i>
                                        </a>
                                    </li>
                                    <li>       
                                        <a href="{{ url_for('delete_artwork', art_id=artwork['_id']) }}" 
                                                class="btn-small red black-text crud-btn">
                                                Drop this artwork
                                                <i class="material-icons right hide-on-small-only">delete</i>
                                        </a>
                                    </li> 
                                </ul>        
                            </div>    
                        </div>        
                    </div>                            
                {% endfor %} <!-- endfor artworks search -->
            {% else %}
                <h3 class="red-text center-align">No Art Works Found</h3>
            {% endif %}
            </div>
        </div>
    </div>
</div> 
</section>

{% endblock %}