{% extends 'base.html' %}
{% block headercontent %}
{{ page_title }}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
    
        {% with messages = get_flashed_messages() %} {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %} {% endwith %}
        <hr/>
        {% for gallery in gallery %}
            <strong> {{ gallery.year }} </strong> <br>
            {% for member in gallery.exhibitor %}
               Exhibitor:  {{ member }}  <br>
            {% endfor %}
        {% endfor %}
    </div>
</div>

{% endblock %}