{% extends 'base.html' %}
{% block headercontent %}
{{ page_title }}
{% endblock %}

{% block content %}

    <div class="row card-panel">
        <form action="{{ url_for('search') }}" method="post" class="col s12">
            <div class="row center-align">
                <div class="input-field col s12 m8">
                    <i class="prefix light-blue-text text-darken-4"></i>
                    <input type="text" name="memberquery" id="memberquery" minlength="3" class="validate" required>
                    <label for="memberquery">Search Members</label>
                </div>
                <div class="col s12 m4">
                    <a href="{{ url_for('members') }}" class="red btn text-shadow">Reset</a>
                    <button type="submit" class="light-blue darken-1 btn text-shadow">
                        <i class="left"></i> Search
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m4">
                    <a href="{{ url_for('dues') }}" class="light-blue btn text-shadow">Membership Dues</a>
                </div>
            </div>
        </form>
    </div>

<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <!-- Text search above could have returned no members -->
        {% if members %}

         {% for member in members %}
            <!-- {{ member._id }}  <br>  -->
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" style="max-width: 20%" src="{{ member.portrait }}" alt="member portrait">
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col s12">
                                <span class="card-title activator grey-text text-darken-4">{{ member.firstname }}  {{ member.lastname }}<i class="material-icons right">more_vert</i></span>
                            </div>    
                        </div>
                        <div class="row">
                            <div class="col s6">
                                    <a href="{{ url_for('edit_member', member_id=member._id) }}" class="btn-small crud-btn light-blue lighten-1">Edit</a>
                            </div>
                            <div class="col s6">
                            </div>
                        </div>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{ member.firstname }}  {{ member.lastname }}<i class="material-icons right">close</i></span>
                        <ul>
                        <li>Portrait path: {{ member.portrait }} </li>
                        <li>Email: {{ member.email }} </li>
                        <li>Phone: {{ member.phone }} </li>
                        <li>New Member: {{ member.newmember}} </li>
                        <li>Family Subscription: {{ member.family }} </li> 
                        <li>Guest: {{ member.guest }} </li>
                        <li>Paid up: {{ member.paid }} </li>
                        <li>Biography: {{ member.bio }} .</li>
                        </ul>
                    </div>
                </div>
             <br>
         {% endfor %}

        {% else %}
            <h3 class="red-text center-align">No Members Found</h3>
        {% endif %}
    </div>
</div>

{% endblock %}