{% extends 'base.html' %}
{% block headercontent %}
{{ page_title }}
{% endblock %}

{% block content %}

    <div class="row card-panel">
        <form action="{{ url_for('search') }}" method="post" class="col s12">
            <div class="row center-align">
                <div class="input-field col s12 m8">
                    <i class="prefix light-blue-text text-darken-4"></i>
                    <input type="text" name="memberquery" id="memberquery" minlength="3" class="validate" required>
                    <label for="memberquery">Search Members</label>
                </div>
                <div class="col s12 m4">
                    <a href="{{ url_for('members') }}" class="red btn-small black-text text-shadow">Reset</a>
                    <button type="submit" class="light-blue darken-1 btn-small black-text text-shadow">
                        <i class="material-icons left">search</i> Search
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col s6 m4">
                    <a href="{{ url_for('dues') }}" class="black-text light-blue btn-small text-shadow" onclick="enableRemind()">
                        Subs Due
                        <i class="material-icons right">payment</i>
                    </a>
                </div>
                <div class="col s6 m4">
                    <a href="{{ url_for('applicant') }}" class="black-text light-blue btn-small text-shadow" onclick="enableRemind()">
                        Applicants
                        <i class="material-icons right">thumb_up</i>
                    </a>
                </div>                  
            </div>
        </form>
    </div>

<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <!-- Text search above could have returned no members -->
        {% if members %}
         {% for member in members %} 
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" style="max-width: 20%" src="{{ member.portrait }}" alt="member portrait">
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col s12">
                                <span class="card-title activator grey-text text-darken-4">{{ member.firstname }}  {{ member.lastname }}<i class="material-icons right">more_vert</i></span>
                            </div>    
                        </div>
                        <div class="row">
                            <div class="col s6">
                                <a href="{{ url_for('edit_member', member_id=member._id) }}" class="btn-small black-text light-blue lighten-1 crud-btn">
                                    Edit
                                    <i class="material-icons right hide-on-small-only">edit</i>  
                                </a>
                            </div>
                            <div class="col s6">
                                {% if page_title == "Membership Due List" %}   
                                    <a href="{{ url_for('reminder', member_id=member._id) }}" class="btn-small light-blue lighten-1 remind-btn">
                                        Send Reminder
                                        <i class="material-icons right hide-on-small-only">email</i>
                                    </a>
                                {% endif %}    
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s2"></div>
                            <div class="col s8">
                                {% if page_title == "Membership Due List" %}   
                                    <a href="{{ url_for('delete_member', member_id=member._id) }}" class="btn-small black-text red darken-1 crud-btn">
                                        Delete Member {{ member.firstname }}  {{ member.lastname }}
                                        <i class="material-icons right hide-on-small-only">delete</i>
                                    </a>
                                {% endif %}                                    
                            </div>
                            <div class="col s2"></div>
                        </div>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{ member.firstname }}  {{ member.lastname }}<i class="material-icons right">close</i></span>
                        <ul>
                        <li>Portrait path: {{ member.portrait }} </li>
                        <li>Email: {{ member.email }} </li>
                        <li>Phone: {{ member.phone }} </li>
                        <li>New Member: {{ member.newmember}} </li>
                        <li>Family Subscription: {{ member.family }} </li> 
                        <li>Guest: {{ member.guest }} </li>
                        <li>Paid up: {{ member.paid }} </li>
                        <li>Biography: {{ member.bio }} .</li>
                        </ul>
                    </div>
                </div>
             <br>

            <!-- Modal EmailJS subs renewal reminder form --> 
            <div id="emailreminder" class="modal">
                <div class="modal-content">
                    <h4>Email Membership Reminder Form</h4>
                        <form onsubmit="return sendMail(this);" class="col s12 m8 offset-m2">
                            <label for="member">Full Name</label>
                            <input type="text" name="member" id="fullname" class="form-control" value="{{member.firstname }} {{member.lastname}}" required /><br/>
                            <label for="target">Member's email address</label>
						    <input type="email" name="target" id="emailaddress" class="form-control" value="{{ member.email }}" required /><br/>
                            <label for="member">Annual Subscription &pound;</label>
						    <input type="text" name="dues" id="dues" class="form-control" value="20.00" required /><br/>
                            <label for="name">From</label>
                            <input type="text" name="name" id="from_name" class="form-control" value="Prickwillow Art Club" required /><br/>
                            <label for="email">reply to</label>
                            <input type="text" name="email" id="from_email" class="form-control" value="prickwillowartclub@gmail.com" required /><br/>
						    <div class="form-row text-center">
							    <div class="col s6">
								    <button type="submit" class="btn-small">
                                        Send Reminder  ({{ loop.index }} of {{ loop.length }})
                                        <i class="material-icons right">email</i>
                                    </button>
							    </div>
                                <div class="col s6">
                                    <a href="#!" onclick="close_reminder()" 
                                        class="modal-close btn-small blue waves-effect waves-green">
                                        Close
                                        <i class="material-icons right">close</i>
                                    </a>
                                </div>
						    </div>
                        </form>
                </div>
            </div>
         {% endfor %}

        {% else %}
            <h3 class="red-text center-align">No Members Found</h3>
        {% endif %}
    </div>
</div>

{% endblock %}