{% extends 'base.html' %} {% block headercontent %} {{ page_title }} {% endblock
%} {% block content %}

<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto">
    <div class="row">
    <p class="col s12 m8 offset-m2">Want to become a member? Fill out the form below to send a request.</p>
    </div>
    <form class="col s12 m8 offset-m2" method="POST">
      <div class="card-panel">
        <!-- Forename -->      
        <div class="row">
            <div class="input-field col s12">
                <label for="forename" class="inputlabel">Forename</label>
                <input type="text" class="form-control"  placeholder="Forename"
                        name="forename" id="forename"
                        minlength="4" required
                        onchange="mem_name('forename')"
                        data-validation-required-message="Please enter your first name."/>
                <p class="help-block text-danger"></p>
            </div>
        </div>
        <!-- Surname -->    
        <div class="row">
            <div class="input-field col s12">       
                <label for="lastname" class="inputlabel">Lastname</label>
                <input type="text" class="form-control" placeholder="Surname"
                        name="lastname" id="lastname"
                        minlength="4" required
                        onchange="mem_name('lastname')"
                        data-validation-required-message="Please enter your last name."/>
                <p class="help-block text-danger"></p>
            </div>
        </div>
        <!-- Email Address -->
        <div class="row">
            <div class="input-field col s12">
                <label for="email" class="inputlabel">Email Address</label>
                <input type="email" class="form-control" placeholder="Email Address"
                        name="email" id="email"
                        minlength="10" required
                        onchange="mem_email()"
                        data-validation-required-message="Please enter your email address."/>
                <p id="emailerror" class="help-block text-danger"></p>
             </div>
        </div>
        <!-- Phone Number -->
        <div class="row">
            <div class="input-field col s12">
                <label for="phone" class="inputlabel">Phone Number</label>
                <input type="tel" class="form-control" placeholder="Phone Number"
                    name="phone" id="phone"
                    minlength="5" required
                    onchange="mem_phone()"
                    data-validation-required-message="Please enter your phone number."/>
                <p class="help-block text-danger"></p>
            </div>
        </div>
        <!-- Membership Status-->
        <div class="row">
            <div class="input-field col s12">
                <p>
                <label class="inputlabel">
                <input name="renewal" type="radio" />
                <span>Renewal?</span>
                </label>
                <label class="inputlabel">
                <input name="renewal" type="radio" checked />
                <span>New Member</span>
                </label>
                </p>
                <p class="help-block text-danger"></p>
            </div>
        </div>
        <!--  Family Subscription or Guest ? -->
        <div class="row">
            <div class="input-field col s12">
                <p>
                <label class="inputlabel">
                <input name="family" type="checkbox" />
                <span>Family Membership</span>
                </label>
                <label class="inputlabel">
                <input name="guest" type="checkbox" disabled="disabled" />
                <span>Guest</span>
                </label>
            </p>
            </div>
        </div>
        <br />
        <div id="success"></div>
        <div class="row">
            <div class="col s6">
                 <!-- cancel button -->
                    <a href="{{ url_for('membership') }}" class="btn-small">
                        Cancel <i class="material-icons right">close</i>
                    </a>
            </div>
            <button class="col s6 btn-small waves-effect waves-light red lighten-3 black-text text-darken-2"
                type="submit" name="action" >
                Submit
                <i class="material-icons right">send</i>
            </button>
        </div>
      </div>  
    </form>
  </div>
</div>

{% endblock %}
