{% extends 'base.html' %}
{% block headercontent %}
{{ page_title }}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
    
        {% with messages = get_flashed_messages() %} {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %} {% endwith %}
        <hr/>
         {% for member in members %}
            <!-- {{ member._id }}  <br>  -->
            {{ member.firstname }}  {{ member.lastname }} <br>
            Email: {{ member.email }} <br>
            Phone: {{ member.phone }} <br>
            New Member: {{ member.newmember}} Family Sub: {{ member.family }} Guest: {{ member.guest }} <br>
            Paid up: {{ member.paid }} <br>
            Biography: {{ member.bio }}
            <hr/>
         {% endfor %}

    </div>
</div>

{% endblock %}