{% extends 'base.html' %} {% block headercontent %} {{ page_title }} {% endblock
%} {% block content %}
<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}" >
        <div class="card-panel">
        <!-- username -->
            <div class="row">
                <div class="input-field col s12">
                     <i class="prefix light-blue-text text-darken-4"></i>
                    <input id="username" name="username" type="text" 
                        minlength="5" maxlength="15" 
                        placeholder="min 5 chars, max 15 chars"
                        pattern="^[a-zA-Z0-9]{5,15}$" class="validate" />
                    <label for="username" 
                        title="Should only contain lower and uppercase alpha and numbers">
                        Username
                    </label>
                    <span class="helper-text" data-error="wrong" data-success="right">
                        Should only contain lower and uppercase alpha and numbers
                    </span>
                </div>
            </div>
        <!-- password -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="prefix light-blue-text text-darken-4"></i>
                    <input id="password" name="password" type="password" 
                        minlength="5" maxlength="15" 
                        placeholder="min 5 chars, max 15 chars"
                        pattern="^[a-zA-Z0-9]{5,15}$" class="validate"/>
                    <label for="password" 
                        title="Should only contain lower and uppercase alpha and numbers">
                        Password
                    </label>
                    <span class="helper-text" data-error="wrong" data-success="right">
                        Should only contain lower and uppercase alpha and numbers
                    </span>
                </div>
            </div>
            <!-- First Name -->
            <div class="row">
                <div class="input-field col s12">
                     <i class="prefix light-blue-text text-darken-4"></i>
                    <input id="firstname" name="firstname" type="text" 
                        minlength="5" maxlength="15" 
                        placeholder="min 5 chars, max 15 chars"
                        pattern="^[a-zA-Z0-9]{5,15}$" class="validate" />
                    <label for="firstname" 
                        title="Should only contain lower and uppercase alphabetic">
                        Firstname
                    </label>
                    <span class="helper-text" data-error="wrong" data-success="right">
                        Should only contain lower and uppercase alphabetic
                    </span>
                </div>
            </div>
            <!-- Last Name -->
            <div class="row">
                <div class="input-field col s12">
                     <i class="prefix light-blue-text text-darken-4"></i>
                    <input id="lastname" name="lastname" type="text" 
                        minlength="5" maxlength="15" 
                        placeholder="min 5 chars, max 15 chars"
                        pattern="^[a-zA-Z0-9]{5,15}$" class="validate" />
                    <label for="lastname" 
                        title="Should only contain lower and uppercase alphabetic">
                        Lastname
                    </label>
                    <span class="helper-text" data-error="wrong" data-success="right">
                        Should only contain lower and uppercase alphabetic
                    </span>
                </div>
            </div>
        <!-- readonly -->
            <div class="row">
                <p>
                    <label class="black-text">
                        <input name="group1" id="readonly" type="radio" value="true" checked />
                        <span>Read Only</span>
                    </label>
    
                    <label class="black-text">
                        <input name="group1" id="update" type="radio" value="false" disabled="disabled" />
                        <span>Update</span>
                    </label>
                </p>
            </div>
        
        <!-- register -->
            <div class="row">
                <div class="col s2"></div>
                <div class="col s8">
                    <button type="submit" class="btn-large red darken-4 text-shadow">
                        Register
                        <i class="material-icons right">send</i>
                    </button>
                </div>
                <div class="col s2"></div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
